In [ ]:
print(range(1, 11))
print(list(range(1, 11)))

range(1, 11)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]